<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gagyeboost">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:icon="@drawable/app_icon3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon3_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.GagyeBoost">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${googleMapKey}" />

        <activity
            android:name=".ui.intro.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".ui.home.detail.RecordDetailActivity"
            android:exported="false" />
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".ui.MainActivity"
            android:exported="true" />

        <activity android:name=".ui.address.AddressResultActivity"
            android:windowSoftInputMode="adjustPan"/>

    </application>

</manifest>
